.home_body{
    background: url('http://www.mrwallpaper.com/wallpapers/jogging-into-sunset.jpg') fixed;
    height: 100vh;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.searchBox{
    margin-top: 10vh;
}

