.weather_body{
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
}

h1, h3{
    color: #283349;
    text-align: center;
    text-transform: capitalize;
    padding:15px;
}

.weather_wrapper{
    margin-top: 30px;
}
.currentWeather{
    padding: 0 30px;
}
.weather_description{
    color: #283349;
    text-transform: capitalize;
    min-height: 30px;
}
.panel-default > .weather-panel-heading {
    background: #f16164;
    border-color: #f16164;
    color: #fff;
    text-align: center;
}

.label {
    font-family: 'Roboto', sans-serif;
}
.weather_forecast:hover{
    background: #f5f5f5;
}

.link_btns{
    margin-bottom: 20px;
}